*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
body{
	height: 100%;
	font-family: Open sans;
}
.clear{
	clear: both;
}
/*-----Fundo e logo------*/
.backimg{
	background-image: url(img/capa.png);
	background-size: cover;
	background-position: 35%;
	background-repeat: no-repeat;
	width: 100%;
	height: 700px;
}
.logo{
	color:lightgray;
	margin-top: 40px;
	margin-left: 80px;
	font-size: 23px;
}

/*-------fim do fundo e logo-------*/

/*-------sidbar--------*/
.links{
	width: 100%;
}
.links li{
	display: inline-block;
	margin-top: 50px;
	margin-right: 30px;
}
.links ul{
	text-align: right;
	margin-right: 40px;
}
.links a{
	color: white;
	text-decoration: none;
}

/*-------fim sidbar--------*/

/*-------chamada---------*/
.chamada{
	color: white;
	margin: 0 auto;
	margin-top: 170px;
	margin-right: 10%;
	width: 50%;
	min-width: 300px;
}
.chamada h1{
	font-size: 37px;
	margin-bottom: 15px;
}
/*------Fim chamada------*/

/*-------Anuncio--------*/
.backanuncio{
	width: 100%;
	height: 400px;
	max-height: 500px;
	background-color: purple;
	overflow-y: hidden;
}
.texto{
	width: 100%;
	margin-left: 8%;
	margin-top: 50px;
	color: white;
	list-style-position: inside;
}
.texto h1{
	margin-bottom: 10px;
	font-size: 25px;
}
.texto p{
	font-size: 18px
}
.texto a{
	text-decoration: none;
	color: white;
	background: darkorange;
	padding: 10px 10px;
	border-radius: 30px;
	margin: 15px 10px;
	display: inline-block;
}
.imagem img{
	width: 450px;
	height: 450px;
	position: absolute;
	left: 45%;
	top: 670px
}


/*------fim anuncio-------*/

/*--------Slogan---------*/
.slogan{
	text-align: center;
	width: 100%;
	height: 600px;
	background-color: lightgray;
	overflow-y:hidden;
}
.texto-slogan{
	width: 70%;
	margin: 40px auto;
	color: purple;
	font-weight: normal;
}
.img-slogan img{
	position: absolute;
	left: 10%;
	width: 80%;
	max-height: 500px;
	box-shadow: 8px 8px 5px gray;
}

/*--------fim Slogan---------*/

/*--------Portifólio---------*/
.portifolio{
	width: 100%;
	height: auto;
	display: flex;
}
.divport1{
 	width: 50%;
 	height: 500px;
 	display: inline-block;
 	background-color: purple;
 	color: white;
 	padding-top: 8%;
}
.divport1 p{
	width: 70%;
	margin-left: 20px;
}
.divport1 h2{
	margin-left: 20px;
}
.divport2{
 	width: 50%;
 	height: 500px;
	color: black;
	padding-top: 7%;
}
.divport2 h2{
	margin-left: 15px;
	margin-right: 10px;
}
.divport2 p{
	margin-left: 20px;
	margin-top: 20px;
	width: 70%;
}
.bolinhas{
	display: flex;
}
.divport2 span{
	width: 20px;
	height: 20px;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 20px;
	margin-left: 5px;
	margin-top: 8px;
}
.divport2 span:first-of-type{
	background-color: gray;
	margin-left: 20px;
}
p.fundador{
	margin-top: 0px;
	font-size: 12px;
	width: 100%;
} 
.capsula-foto{
	display: flex;
	align-items: center;
}
.capsula-fundador{
	overflow-y: hidden;
}
.foto{
	width: 70px;
	height:70px;
	background-image: url(img/patranus.jpg);
	background-size: 70px;
	background-position: center left;
	background-repeat: no-repeat;
	border-radius: 40px;
	
}

/*--------Fim Portifólio---------*/

/*--------Mapa e formulario---------*/
.form-map{
	width: 100%;
	height: auto;
	background-color: #6e2f87;
	color: white;
	margin-top: -5px;
	display: flex;
}
.formulario{
	width: 50%;
	height: 500px;
	padding-top: 50px;
	padding-left: 50px;
	
}
.formulario p{
	width: 70%;
	margin: 5px 0
}
.formulario input{
	width: 90%;
    margin-top: 10px;
    padding: 15px;
}
.formulario textarea{
	width: 90%;
	margin-top: 10px;
	padding: 10px 0px 50px 0px
}
.formulario input[type=button]{
	background-color:#e88b00;
	color: white;
	width: 100px;
	border-radius: 40px;
	border: 0;
	margin-top: 5px;
}

.backmapa{
	width: 50%;
	height: auto;
}
.backmapa h2{
	padding-top: 20px;
	text-align: center;
}
.mapa{
	width: 450px;
	height: 450px;
	border: 5px solid gray;
	background-color: white;
	margin: 20px auto;
}
/*--------Fim Mapa e formulario---------*/


/*----------------Rodapé-------------*/
.rodape{
	background-color: black;
	color: white;
	text-align: center;
}

hr{
	width: 90%;
	background-color: lightgray;
	margin: 15px auto;
}
/*----------------Fim Rodapé-------------*/


/*------------Media screen--------------*/
@media screen and (max-width: 1024px){
	.slogan img{
		position: static;
	}
	.mapa{
		width: 350px;
		height: 350px;
		margin: 30px auto;
	}
	
	}
@media screen and (max-width:768px){
	.backimg{
		width: 100%;
		height: 600px;
	}
	.logo{
		margin-left: 0px;
		text-align: center;
	}
	.menu-mobile{
		background-image: url(img/open-menu.png);
		background-size: 50%;
		background-repeat: no-repeat;
		float: right;
		margin-left: 89%;
		height: 40px;
		overflow: hidden;
		cursor: pointer;
		padding: 4px;
	}
	.links{
		position: absolute;
		position: fixed;
		top: 80px;
		z-index: 2
	}
	.links li{
		display: inline-block;
		margin-top: 10px;
		margin-right: 5px;
	}
	.links ul{
		margin-top: 30px;
		margin-right: 10px;
	}
	.links a{
		color: white;
		text-decoration: none;
	}
	.menu-mobile:hover{
		transition: 2s;
		height: 185px;
		background-color: gray;
		border-radius: 5px 5px 15px 15px;
	}

	.chamada{
		width: 70%;
		min-width: 0;
		margin-top: 150px;
		margin-left: auto;
		margin-right: 50px;
	}
	.imagem img{
		width: 0;
		height: 0;
	}	
	.portifolio{
		display: inline-block;
	}
	.divport1{
		width: 100%;
		height: 400px;
	}
	.divport1 p{
		font-size: 20px;
		width: 80%;
		margin-left: 20px;
	}
	.divport1 h2{
		font-size: 25px;	
		margin-left: 10px;
	}
	
	.divport2{
		width: 100%;
		height: 400px;
		padding-top: 40px;
	}
	
	.divport2 .port-frase{
		margin-left: 20px;
		margin-top: 30px;
		width: 80%;
		font-size: 20px;
	}
	.form-map{
		display: inline-block;
	}	
	.formulario{
		width: 100%;
		text-align: center;
		padding: 60px 0 0 0;
	}	
	.formulario p{
		margin: 0 auto;
	}
	.formulario input{
		width: 70%;
	}
	.formulario textarea{
		width: 70%;
	}
	.backmapa{
		width: 100%;
		height: auto;
	}
	.mapa{
		width: 450px;
		height: 450px;
	}
	footer{
		margin-top: -5px;
	}
}

@media screen and (max-width: 470px){
	.backimg{
		height: 550px;
	}
	.links{
		font-size:16px;
		margin-right: 10px;
		margin-left: 5px;
	}
	.links ul{
		margin-right: 3px;
	}
	.chamada{
		color: white;
		margin-top: 120px;
		margin-right: 10%;
		width: 70%;
	}
	.chamada h1{
		font-size: 27px;
	}
	
	
}

@media screen and (max-width: 460px){
	.texto{
		margin: 50px auto 0 auto;
		padding: 10px;
	}
	.slogan{
		height: 500px;
	}
	.texto-slogan{
		width: 95%;
		margin: 30px auto 20px auto;
		color: purple;
		font-weight: normal;
	}
	.mapa{
		width: 280px;
		height: 280px;
	}
	.formulario input{
		width: 90%;
	}
	.formulario textarea{
		width: 90%;
	}

}
@media screen and (max-width: 350px){
	.backimg{
		background-size: cover;
		background-position: 35%;
		background-repeat: no-repeat;
		width: 100%;
		height: 450px;
	}
	.logo{
		font-size: 20px;
	}
	.chamada h1{
		font-size: 23px;
	}
	.chamada{
		margin:0 auto;
		margin-top: 70px;
		width: 90%;
	}
	.slogan{
		height: 550px;
	}
	.divport1{
		height: auto;
	}
	.divport1 h2{
		text-align: center;
		margin: 0;
	}
	.divport1 p{
		text-align: center;
		width: 100%;
		padding: 7px;
		margin: 0px 0px 15px 0px;
	}
	.divport2 .port-frase{
		margin-top: 10px;
		font-size: 19px;
	}
	.mapa{
		width: 230px;
		height: 230px;
	}
	.divport2{
		height: 500px;
		padding-top: 15px;
	}
	.foto{
		display: none;
	}
	.divport2 .foto-470px{
		background-image: url(img/patranus.jpg);
		width: 150px;
		height: 150px;
		background-size: 150px;
		background-repeat: no-repeat;
		background-position:bottom;
		border-radius: 150px;
		margin-left: 10%;
		margin-bottom: 10px;
	}
}